<ion-view view-title="Ionic IoT Starter">
  <ion-content>

  	<div class="list card">

	  <div class="item item-avatar">
	    <img src="img/imp.png">
	    <h2>Internet Connected Powerbar</h2>
	    <p>using <a href="https://electricimp.com/">Electric Imp</a></p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src="img/powerbar.jpg">
	    <p><b>This project takes a typical powerbar and connects it to the internet.</b> Instead of all plugs being on at one time, you can turn each outlet on and off individually from your mobile app.</p>
	    <p><b>Hardware Used:</b> <a href="http://www.canadarobotix.com/wi-fi/electric-imp">Electric Imp</a> + <a href="http://www.canadarobotix.com/misc-converter-adpater/1416-sparkfun-electric-imp-breakout">April Board</a>, <a href="http://www.sainsmart.com/8-channel-dc-5v-relay-module-for-arduino-pic-arm-dsp-avr-msp430-ttl-logic.html">8 Channel Relay Board</a>, <a href="http://www.bmr.co/en/cube-taps-multiple-outlet/001423-power-bar-8-outlets-switch.html">8 Outlet Powerbar</a>. You should have previous experience with low voltage devices controlling high voltage. <b style="color:red">**** Be careful when working with high voltage currents like that of your wall outlet, it can be VERY dangerous.</b></p>
	    <p>This is meant to be a trainer/starter project, and lays out the basic framework for a more advanced app/api.</p>
	    <p>See <a href="#/app/details">how to</a> for more info...</p>
	    <p>Email Support: <a href="mailto:colemanjeff@mac.com">colemanjeff@mac.com</a></p>
	    <p>Skype Support: <a href="skype:colemanjeff?call">colemanjeff</a></p>
	    <p></p>
	    <!-- <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p> -->
	  </div>

	</div>
    
  </ion-content>
</ion-view>
